<h1>Welcome to the Wildlife Tracker</h1>
<!-- <p>Find me in app/views/welcome/register.html.erb</p> -->
<form action="/plant/identify" method="get">
  <label for="plant_name">Plant Name:</label>
  <input type="text" id="plant_name" name="plant_name" required/>
  <input type="submit" value="Submit"/>
</form>
